/* for iphones 6,7,8,X and nexus 5 and other typical phones */

body{
    margin: 0;
    padding: 0;
}
nav{
    padding: 20px 20px;
    background-color: snow;
    position: static;
    width: initial;
}
nav a{
    color: rgb(189, 46, 46);
    font-size: 2.5em;
    text-shadow: 0px 0px 13px rgb(212, 173, 173);
}
section{
    background-image: url(images/pexels-philippe-donn-1257860.jpg) ;
    padding: 120px 15px;
    background-size: cover;
    background-repeat: no-repeat;
}
section h1{
    font-size: 2em;
    color: white;
    font-family: candara, sans-serif;
    width: initial;
    margin: 30px 0px;
    text-align: left;
}
section p{
    font-size: 1.3em;
    color: white;
    font-family: candara, sans-serif;
    width: initial;
    margin: 15px 0px 55px 0px;
    text-align: right;
}
section form{
   padding: 20px 30px;
   background-color: snow;
   border-radius: 10px;
   width: 60%;
   position: static;
   margin: auto;
}
form input , form button{
    display: block;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: slateblue;
    font-size: 0.8em;
    margin: auto;
    border: 1px solid slateblue;
    border-radius: 10px;
}
form button{
    display: block;
    background-color: rgba(106, 90, 205, 0.5);
    color: white;
}
form h4{
    font-family: candara, Geneva, Tahoma, sans-serif;
    color: slateblue;
    font-size: 1.3em;
    text-align: center;
}
form span{
    padding: 3px 32px;
    background-color: slateblue;
    margin: 20px 3px 10px 3px;
    color: snow;
    border-radius: 10px;
}
form div{
    display: none;
}
form i{
    font-family: candara,Arial, Helvetica, sans-serif;
}
form input[type="checkbox"]{
    margin-left: 0;
}
form input[type="text"]:focus, form input[type="email"]:focus, form input[type="password"]:focus{
    display: block;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: slateblue;
    font-size: 0.8em;
    margin: auto;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid slateblue;
    border-radius: 10px;
    background-color: snow;
}

section form + div{
    display: none;
    position: static;
    box-sizing: border-box;
    height: 461.781px;
    width: 247px;
    padding: 25px 40px;
    background-color: snow;
    border-radius: 10px;
    margin: auto;
}

#signedUpDisplay i{
    border-radius: 50px;
    background-color: rgb(158, 228, 158);
    color: rgb(7, 95, 7);
    padding: 20px;
    font-size: 2em;
    margin: 70% 0% 0% 30%;
}

#signedUpDisplay a{
    border-radius: 10px;
    display: block;
    background-color: rgb(98, 98, 224);
    padding: 20px 17px;
    color: snow;
    margin: 70% 0% 0% 0%;
    font-family: candara, Helvetica, sans-serif;
    text-decoration: none;
}