body{
    margin: 0;
    padding: 0;
    position: relative;
}
header{
    padding: 15px 10px;
    background-color: rgb(35, 35, 165);
    color: white;
    font-family: candara;
    position: sticky;
    top: 0;
}
#top-nav-link{
    font-size: 1.2em;
    padding: 0px 4px 0px 4px;
}
.nav-links{
    font-size: 0.8em;
    float:right;
}
nav a{
    padding: 6px 6px;
    margin: 0px 30px;
    font-family: candara;
    font-weight: bold;
    text-decoration: none;
    color:whitesmoke;
}
#second-nav{
    opacity: 0.5;
    background-color: rgb(189, 185, 185);
    max-width: 100%;
    list-style-type: none;
    padding: 20px 6px 30px 6px;
    font-family: candara;
    font-weight: bold;
    font-size: 1em;
    position: sticky;
    top: 53px;
    margin: 0;
    box-sizing: border-box;
}
.second-nav{
    float:left;
}
#right-dropdown{
    float:right;
}
#dropdown{
    display: none;
    padding: 5px;
    border: 1px ridge black;
    margin-top:12px;
}
.dropbutton{
    padding-left: 7px;
    display: block;
}
.droptext{
    display: block;
    padding: 0px 5px 0px 3px;
    border-collapse: collapse;
}
.droptext:hover{
    color: black;
    background-color: lightgray;
}
#right-dropdown:hover .dropbutton{
    transform: rotate(180deg);
}
#right-dropdown:hover #dropdown{
    display:block;
}
h1{
    padding:6px;
    background-color:hotpink;
    color: whitesmoke;
    width:25%;
    margin-left: 10px;
    border-radius: 7px;
    text-align: left;
}
img{
    width: 190px;
    height:200px;
    border-radius: 7px;
}
.photopane{
    width: 90%;
    font-size: 1em;
    border: 1px solid pink;
    padding: 10px;
    border-radius: 7px;
    margin: 10px;
    box-sizing: border-box;
    font-family: candara;
    line-height: 1.5em;
}
.photodownload{
    display: block;
    padding: 10px;
    color:white;
    margin: 3px 0px 3px 0px;
    border-radius: 7px;
    text-decoration: none;
    background-color: hotpink;
}
section{
    width: 30%;
    height: 30%;
    padding: 10px;
    position: absolute;
    left: 45%;
    top:30%;
    z-index: -1;
    border-radius: 8px;
    border: 1px solid hotpink;
}
#upload-button{
    display: block;
    padding: 30px 10% 30px 10%;
    font-family: candara;
    position: absolute;
    top:75%;
    left:13%;
    font-size: 1.2em;
    font-weight: bold;
    background-color: hotpink;
    color: whitesmoke;
    border: none;
    border-radius: 8px;
}
#upload-text{
    position: absolute;
    top: 62%;
    font-size: 1.5em;
    font-weight: bold;
    font-family: candara;
    left: 8%;
}
#upload-logo{
    position: absolute;
    top: 20%;
    left: 22%;
    border-left: 1px solid hotpink;
    border-right: 1px solid hotpink;
    padding: 10px;
    border-radius: 10px;
}
footer{
    padding: 15px 10px;
    background-color: rgb(35, 35, 165);
    color: white;
    position: absolute;
    font-family: candara;
}
cite{
    font-family: candara;
    font-size: 1.5em;
}
.footer-links{
    text-decoration:none;
    color: white;
}
#footer-div{
    position: absolute;
    top: 70%;
    left: 80%;
}
#collection{
    border: 1px solid hotpink;
    padding: 4px;
    width: 25%;
    overflow-y: scroll;
    border-radius: 7px;
    height: 1200px;
    margin-left: 10px;
}